*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Open sans, sans-serif;
  display: flex;
  justify-content: center;
  background-color: rgb(201, 201, 201);
}

.quiz {
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.question {
  margin-bottom: 20px;
  text-align: left;
  background: white;
  padding: 5px 0 5px 20px;
  border-radius: 10px;
  width: 600px;
}

p {
  margin-top: 5px;
  font-weight: bold;
}

label {
  display: block;
  margin: 5px 0;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  background-color: white;
}
